{% load static %}<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Esacala de serviço</title>
  <!-- bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <!-- CSS -->
  <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
  <div class="container">
    <div class="col-12">
      <div class="row">
        <h1>{{ mes_atual }}</h1>
      </div>
      <table class="table table-light">
        <thead>
          <tr>
            {% for dia in dias_da_semana %}
              {% if dia == "Sábado" or dia == "Domingo" %}
                <th scope="col" class="col-1 dia-semana">{{ dia }}</th>
              {% else %}
                <th scope="col" class="col-2 dia-semana">{{ dia }}</th>
              {% endif %}
            {% endfor %}
          </tr>
        </thead>

        <tbody>



          {% for semana in mes %}
            <tr>
              {% for dia in semana %}
                <!-- verificação de dias nulos -->
                {% if 0 in dia %}
                  <td class="dia-mes"></td> 
                {% else %}
                <!-- verificar se sábado ou domingo -->
                  {% if "Sábado" in dia or "Domingo" in dia %}
                    <td class="dia-mes">{{ dia.1 }}</td>
                  {% else %}
                    {% comment %} inserir o nome dos escalados {% endcomment %}
                    <td class="dia-mes">
                      {{ dia.1 }}
                      <!-- um militar por dia -->
                      <p>{{ militar.0 }}</p>
                    </td>
                  {% endif %}
                {% endif %}
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>


      </table>
    </div>
  </div>
</body>
</html>




